<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="progress">
                    <div class="progress-bar bg-primary progress-bar-striped active" role="progressbar"
                       [style.width]="getProgreso1"
                        style="height:10px;">
                  
                       </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
         <!--     <app-incrementador (mostrarValorSaida)="progreso1 = $event" [valor]="progreso1"></app-incrementador> -->
            </div>

        </div>

    </div>


    <div class="col-6">
        <div class="card">
            <div class="card-body">
            <!--     <app-incrementador></app-incrementador> -->
            </div>

        </div>

    </div>
</div>